.navbar-container {
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: auto;
  z-index: 999;
}

.navbar-bg {
  background-color: white !important;
}
.navbar-logo {
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 40px;
}

.navbar-logo img {
  width: 100%;
  height: 40px;
}
.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
  background-color: white;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  background-color: white;
  transform: translate(0, -12px) rotate(45deg);
}

.nav-li {
  list-style: none;
}

.nav-li a {
  text-decoration: none;
  font-weight: 700;
  font-size: small;
  color: #333;
}

.nav-li a:hover {
  background: linear-gradient(to left, #00a551, #2aace2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.nav-ul-div {
  position: relative;
}

.navbar-content-div {
  padding-left: 100px;
  padding-right: 150px;
}

@media screen and (max-width: 768px) {
  .hamburger {
    z-index: 99;
  }
  .nav-ul-div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    top: 0%;
    right: 0%;
    transition: 0.5s;
    text-align: left;
    transform: translateX(0%);
    background-color: #333;
    z-index: 0;
  }

  .nav-ul-div-hide {
    position: absolute;
    top: 0%;
    right: -100%;
    text-align: left;
    transition: 0.5s;
    width: 0%;
    height: 100vh;
    max-height: 100vh;
    transform: translateX(100%);
    transition: 0.5s;
    background-color: #333;
  }

  .nav-ul {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .nav-li a {
    color: white;
  }

  .nav-li {
    padding: 10px 0px 10px 10px;
  }
}
/* inner nav */

.nav-inner-ul {
  display: none;
}
.nav-inner-ul-active {
  display: block;
  position: absolute;
  top: 70%;
  background-color: white;
  width: 400px;
  max-width: 400px;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px #9e9e9e;
}

.nav-inner-ul-1 {
  display: none;
}
.nav-inner-ul-active-1 {
  display: block;
  position: absolute;
  top: 100%;
  background-color: white;
  width: 400px;
  max-width: 400px;
  padding: 20px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px #9e9e9e;
}
.nav-inner-li:hover {
  background-color: #f7f7f7;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-inner-li {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
}
.nav-inner-h6 {
  font-size: small;
  font-weight: 600;
}

.nav-inner-p {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .nav-inner-ul-active {
    display: block;
    position: absolute;
    top: 380%;
    left: 50%;
    transform: translate(-50%, -380%);
    background-color: white;
    width: 70%;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px #9e9e9e;
  }

  .nav-inner-ul-active-1 {
    display: block;
    position: absolute;
    top: 295%;
    left: 50%;
    transform: translate(-50%, -380%);
    background-color: white;
    width: 70%;
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 2px #9e9e9e;
  }

  .nav-inner-li {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .nav-inner-h6 {
    font-size: 12px;
    font-weight: 600;
    text-align: start;
  }

  .nav-inner-p {
    font-size: 9px;
    text-align: start;
  }

  .navbar-content-div {
    padding-left: 20px;
    padding-right: 30px;
  }
}
