.card {
  border: none !important;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #dbdbdb;
  padding: 25px 20px;
}

.bus-sol-h3 {
  font-size: x-large;
  font-weight: 600;
}

.bus-sol-p {
  font-size: medium;
  font-weight: 300;
  line-height: 30px;
}

.bus-sol-div a {
  font-size: small;
  font-weight: 400;
}

/* learn */

.bus-sol-h2-2 {
  font-size: x-large;
  font-weight: 700;
}

.bus-sol-p-2 {
  font-size: medium;
  font-weight: 400;
}

.bus-sol-btn-2 {
  font-size: medium;
  border: 2px solid var(--black-color);
  color: var(--black-color);
  padding: 10px 20px;
  border-radius: 25px;
}

.bus-sol-btn-2:hover {
  font-size: medium;
  border: 2px solid black;
  color: white;
  background-color: var(--black-color);
  padding: 10px 20px;
  border-radius: 25px;
}
