.journey-h1 {
  font-size: xx-large;
  font-weight: 600;
}

.journey-p {
  font-size: medium;
  font-weight: 500;
  width: 80%;
  margin: 20px auto;
}
.h1-h1 {
  font-size: xx-large;
}

.h1-ul li {
  font-size: medium;
  font-weight: 400;
  margin: 10px 0px;
}

.nav-link.active {
  font-size: medium !important;
  font-weight: 600 !important;
  color: var(--black-color) !important;
}

.nav-link {
  color: #495057 !important;
  font-size: medium !important;
  font-weight: 400 !important;
}

/* .nav-tabs .nav-link.active {
  background-color: transparent !important;
  border: 2px solid var(--green-color) !important;
}
*/
.nav-link {
  color: rgb(124, 124, 124) !important;
  font-size: x-large !important;
  font-weight: 600 !important;
  border: 3px solid transparent !important;
  border-image: linear-gradient(to left, #00a551, #2aace2);
  border-image-slice: 1;
  background-color: transparent !important;
  /* border: 2px solid var(--black-color) !important; */
}
.nav-tabs .nav-link.active {
  background: linear-gradient(to left, #00a551, #2aace2);
  font-size: x-large !important;
  -webkit-text-fill-color: transparent;
  font-weight: 600 !important;
  -webkit-background-clip: text;
  background-clip: text;
  border-width: 3px !important;
  border-style: solid !important;
  border-image: linear-gradient(to left, #00a551, #2aace2) 1 100% !important;
  border-radius: 10px !important ;
}

.nav-tabs {
  border-bottom: 3px solid transparent !important;
  border-image: linear-gradient(to left, #00a551, #2aace2);
  border-image-slice: 1;
  width: 100%;
}
