@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,500;0,600;1,300;1,400;1,700;1,800&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --background: linear-gradient(to left, #00a551, #2aace2);
  --green-color: #00a551;
  --blue-color: #2aace2;
}
.uc {
  text-transform: uppercase;
}

.list-remove {
  list-style: none;
}

.a-remove {
  text-decoration: none;
}

.App {
  background: url("./Images/GB_Fin/Background-01.jpg");
  background-position: 100% 100%;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-pointer-div {
  cursor: pointer;
}

.linear-text {
  background: linear-gradient(to left, #00a551, #2aace2);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.title-text {
  font-size: 3.5rem;
}

@media screen and (max-width: 576px) {
  .title-text {
    font-size: 2rem;
  }
}
